<div class="offcanvas offcanvas-end" tabindex="-1" id="stationDetailPanel" aria-labelledby="stationDetailPanelLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="stationDetailPanelLabel">İstasyon Detayı</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Kapat"></button>
  </div>
  <div class="offcanvas-body" id="stationDetailBody">
    <p class="text-muted">Detayları görmek için haritadan bir istasyon seçin.</p>
  </div>
</div>
