<h1>About Us</h1>
<li>
<%= link_to "Contact Us", "/contact" %>
<%= link_to "Search Stations", "/search" %>
</li>
<p>Welcome to our charging station map! We are dedicated to providing the best charging solutions for electric vehicle owners.</p>
<p>Our mission is to make it easy for EV drivers to find charging stations across Turkey. We provide up-to-date information on station locations, availability, and more.</p>
<p>Feel free to explore our map and search for charging stations near you. If you have any questions or feedback, please don't hesitate to contact us.</p>
<p>Thank you for using our service!</p>